/*
Задание:
1. Первая буква, каждого абзаца статьи должна иметь больший шрифт и быть красной.
*/
p:first-letter {
    font-size: 2em;
    color: red;
  }
  
  /*
  2. Заголовок "Огород" должен быть оранжевым
  */
  #allotment h2{
    color: orange;
  }
  
  /*
  3. Слова "Фрукты" и "Овощи" жирным шрифтом, черного цвета.
  */
  ul li {
    font-weight: bold;
    color: black;
  }
  
  ol li{
    font-weight: normal;
  }
  
  /*
  4. В разделе "Огород" список фруктов должен быть серым, а овощей зеленым.
  */
    #allotment .fruits-list li{
    color: gray;  
  }
  
  
   #allotment .vegetables-list li{
    color: green;
  }
  
  /*
  5. В разделе "Склад" список фруктов должен быть оранжевым, а овощей коричневым.
  */
   #warehouse .fruits-list li {
    color: orange;  
  }
  #warehouse .vegetables-list li{
    color: brown;
  }
  
  /*
  6. Заголовки таблицы должны быть жирными и черными. Текст должен центрироваться.
  6.1. Имена студентов зелеными
  6.2. Четные строки должны получить голубой фон.
  6.3. Отметки посещения должны центрироваться.
  6.4. Наведение мышки на отметку должно менять фон ячейки на красный, а цвет текста делать белым.
  */
  
  thead {
    font-weight: bold;
    color: black;
    text-align: center;
  }
  
  
  tbody td:first-child {
    color: green;
  }
  
  
  tbody tr:nth-child(even){
    background: lightblue;
  }
  
  tbody td:nth-child(n+2){
    text-align: center;
  }
  
  table td:hover {
    background: red;
    color: white;
  }